<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2003-2018 Broad Institute, Inc., 
    Massachusetts Institute of Technology, and Regents of the University of California.
    All rights reserved.
  -->

<!-- Specify the properties file by setting the "log4j.configuration" property at runtime.
  e.g. java -jar -Xmx2g -Dlog4j.configurationFile=log4j_debug.xml gsea.jar -->
<Configuration>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%-8r [%-6p] [thr-%t] - %m%n"/>
    </Console>
    <RollingFile name="FileLog" fileName="${sys:user.home}/gsea_home/gsea.log"
                 filePattern="${sys:user.home}/gsea_home/gsea-backup-%1.log">
      <PatternLayout pattern="%-8r [%-6p] [thr-%t] - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="2 MB"/>
      </Policies>
      <DefaultRolloverStrategy min="1" max="1"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info" additivity="false">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="FileLog"/>
    </Root>
  </Loggers>
</Configuration>