<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2003-2018 Broad Institute, Inc., 
    Massachusetts Institute of Technology, and Regents of the University of California.
    All rights reserved.
  -->

<!-- Specify the properties file by setting the "log4j.configuration" property at runtime.
  e.g. java -jar -Xmx2g -Dlog4j.configurationFile=log4j_debug.xml igv.jar -->
<Configuration>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <!-- Not quite correct compared to existing.  Maybe "%d{ssSSS} [%-6p] - %m%n"
           IMO it's silly to lead with TS millis as in current.  Maybe lead with a
           counter instead: "%-6sn [%-6p] - %m%n"
           or millis since start: "%-8r [%-6p] - %m%n"
           Note that this pattern is also used in the SystemConsole class.  Any
           change here should be duplicated there  
      -->
      <PatternLayout pattern="%-8r [%-6p] - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info" additivity="false">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>